span.navbar-site-title {
  font-family: 'PT Serif', serif;
  /* text-transform: uppercase;*/
  font-variant: small-caps;
  font-size: 45px;
  float: left;
  display: block;
}

article.blog-teaser {
    padding-bottom: 20px;
}

.blog-post a {
    text-decoration: underline;
}
