---
layout: home_page
title: Paul M Furley, Backend Developer
redirect_from: "/contact/"
permalink: /
---

<div class="widewrapper main">
    <div class="container about">

      <img src="/img/paul-m-furley-backend-developer.png" alt="Paul M Furley" class="about-portrait img-responsive">
        <h1>Hi, I'm <span class="about-bold">Paul</span></h1>

        <span class="about-large">I’m a <span class="about-italic">
            freelance backend developer</span></span>

        <br>
        <span class="about-small">
          I help teams build things that <b>work reliably</b> and <br/><b>make life better</b> for people.
        </span>

        <br>
        <span class="about-small">I'm also proudly geeky about automation, testing, open source, security, and technology for good.</span>

        <hr>
    </div>

    <div class="container">
      <div class="row">
        <h1>Things I've Built</h1>
        <div class="col-md-12 blog-main">
          <div class="row">

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="#">
                  <img src="/img/pilot-planner-thumbnail.png" alt="TODO">
                  <h3>Pilot Planner</h3>
                </a>
                </header>

                <div class="body">
                  A mobile-first web app built for the marine industry using
                  React and Django Rest Framework.
                </div>

              </article>
            </div>

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="#">
                    <img src="/img/picocolour-thumbnail.jpg" alt="TODO">
                    <h3>PicoColour Software</h3>
                  </a>
                </header>

                <div class="body">
                  The entire software stack for a digital printing machine,
                  using Python, PyQt and Arduino.
                </div>

              </article>
            </div>

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="#">
                    <img src="/img/festival-weather-thumbnail.png" alt="TODO">
                    <h3>Festival Weather</h3>
                  </a>
                </header>

                <div class="body">
                  A hack-day project to deliver daily weather reports by SMS.
                  Built with Python and Twilio.
                </div>

              </article>
            </div>

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="#">
                    <img src="/img/open-wifi-pi-thumbnail.png" alt="TODO">
                    <h3>Open WiFi Pi</h3>
                  </a>
                </header>

                <div class="body">
                  A custom Linux build providing an isolated wireless
                  guest network. Configured with Ansible.
                </div>

              </article>
            </div>

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="#">
                    <img src="/img/twitter-train-times-thumbnail.png" alt="TODO">
                    <h3>Twitter Trains</h3>
                  </a>
                </header>

                <div class="body">
                  A Twitter bot to find your next train and platform
                  number. Built with Python.
                </div>

              </article>
            </div>

            <div class="col-md-4 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="http://www.thinkingliverpool.com">
                    <img src="/img/thinking-liverpool-thumbnail.png" alt="TODO">
                    <h3>Thinking Liverpool</h3>
                  </a>
                </header>

                <div class="body">
                  An event listing of talks and debates in Liverpool. Curated
                  by me, built with Jinja from iCal.
                </div>

              </article>
            </div>
          </div>
        </div>

        <h1>Bio</h1>
        <span class="about-small">
        I have a First in Engineering (Electronics) from Durham University.<br/>
        I've built software for <b>printing machines</b> and <b>high-speed
        network devices</b>, collected and aggregated data for
        <b>ScraperWiki</b>, <b>Shelter</b> and <b>Global Witness</b>, built
        dashboard backends for <b>Government Digital Service</b> and created the
        whole tech stack for <b>Sea Level Research</b>.
        <a href="https://uk.linkedin.com/in/paulfurley">Full CV on LinkedIn</a>.
        </span>

        <h1>Speaking</h1>
        <span class="about-small">
        I've talked publicly about <b>Information Hiding</b> at Breakerfaire,
        <b>Building With Straw</b> at Barcamp, <b>Developers and User Research</b>
        at People Before Pixels, <b>Modernising the Shipping Industry</b> at a
        mySociety Meetup and an <b>Introduction to Public Key Cryptography</b> at
        Liverpool's Bitcoin and Cryptography meetup.<br>
        I enjoy communicating <b>complex ideas</b> to non-technical audiences.
        </span>

        <h1>Blog Highlights</h1>
        {% for post in site.posts %}
        {% if post.is_highlighted %}
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.snappy_title }}</a></h2>
        {% endif %}
        {% endfor %}

      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 tales-superblock">
                <h2>Social</h2>
                {% include social_buttons.html %}
                <hr>
            </div>
        </div>
    </div>
</div>
