    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-cog"></i>Statistics</h3>

                        <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

                        <div class="stats">
                            <div class="line">
                                <span class="counter">27</span>
                                <span class="caption">Articles</span>
                            </div>
                            <div class="line">
                                <span class="counter">208</span>
                                <span class="caption">Comments</span>
                            </div>
                            <div class="line">
                                <span class="counter">2</span>
                                <span class="caption">Authors</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-star"></i> Blog Highlights</h3>
                        <ul class="tales-list">
                          {% for post in site.posts %}
                          {% if post.is_highlighted %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.snappy_title }}</a></li>
                          {% endif %}
                          {% endfor %}

                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <span>Feedback, freelancing or anything else - drop me a line:</span>

                        <span class="email">
                          <a href="mailto:paul@paulfurley.com">paul@paulfurley.com</a><br>PGP key 0x309F635DAD1B5517
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                Designed by <a href="http://hackerthemes.com">HackerThemes</a>
            </div>
        </div>
    </footer>

    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendor/modernizr/modernizr.js"></script>

</body>
</html>
